nav{
	min-width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}



.navbar-nav ul li{
	display:inline-block;
	margin: .5em 1em 0;
	}

.navbar-nav ul li a{
	color:#97999B;
	font-size:17px;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	}
